.users-groups {
    display: flex;
    gap: 20px;

    .user-group {
        width: 25%;
        border: 1px solid black;
        padding: 20px;

        .header {
            font-weight: bold;
            font-size: 20px;
        }

        .main {
            margin-bottom: 25px;
        }

        .footer {
            color: #1392db;
            cursor: pointer;
        }
    }

    .add-group {
        display: flex;
        align-items: center;
        width: 25%;
        border: 1px solid black;
        padding: 20px;
        color: #1392db;
        font-size: 20px;
        font-weight: bold;
        height: 65px;
        cursor: pointer;
    }
}
