* {
    box-sizing: border-box;
}

input[type='text'] {
    outline: none;
    padding: 5px;
    border: 0.5px solid gray;
    font-size: 1rem;
}

button {
    border: none;
    background-color: lightgray;
    padding: 10px;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 20px 40px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: black;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
